<!-- header partial -->
<%-include("header.ejs") %>
<body>
    <!-- all posts displayed -->
    <% if(locals.blogPosts) { %>
        <% blogPosts.map((post)=> { %>
            <div class="bd-example m-0 mb-5 border-0">
                <div class="card text-center">
                  <div class="card-header">
                    By: <%= post.author %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><%= post.comments.length %> Comments</p>
                    <a href="/post/comment/<%= post._id %>" class="btn btn-info">View And Comment</a>
                    <a href="/post/<%= post._id %>" class="btn btn-warning">Edit</a>
                    <a href="/delete/<%= post._id %>" class="btn btn-danger">Delete</a>
                  </div>
                  <div class="card-footer text-body-secondary">
                    <%= post.date %> 
                  </div>
                </div>
                </div>
        <% })} %>
<!-- footer partial -->
<%-include("footer.ejs") %>
</body>