<h1> View And Comment </h1>
<a href="/">Home Page</a>
<h2><%= viewPost.title %></h2>
<p><%= viewPost.content %></p>
<p><%= viewPost.author %></p>
<p><%= viewPost.date %></p>
<a href="/comment/<%= viewPost._id %>"> Comment</a>